$primary: #274A3A;
$secondary: #B46DF5;
$neutral: #F8C17A;
$background: #CBFBE7;
$highlight: #D2FDD6;
$primaryDark: #040706;
$primaryLight: #4a8d6e;
$secondaryDark: #8310ec;
$secondaryLight: #e5ccfc;
$neutralDark: #f39419;
$neutralLight: #fdeedb;
$backgroundDark: #6cf4bb;
$backgroundLight: #ffffff;
$highlightDark: #70f97d;
$highlightLight: #ffffff;
